$chat-bg:#ededed;
$white:#fff;

.chat-input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: calc(100% - 5%);

    i {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .input-box {
        background: $white;
        width: calc(100% - 120px);
        padding:3px;
        i{
            // padding: 20px;
        }

        input {
            padding: 8px;
            width: calc(100% - 5%);
            outline: none;
            border:none;
            border-bottom: 1px solid $white;
            background-color: $chat-bg;
            border-radius: 10px;
            margin-left: 10px;
            font-size: 1.1rem;
        }
    }
}

